.panel-heading{
  background-color: #373737;
  border-color: #646262;
}

.panel-body{
  /*background-color: gray;*/
}

.btn-success{
  /*background-color: red !important;*/
}

.panel-heading-button{
  background-color: #373737;
  border-color: #373737;
}

.panel-heading-button:hover{
  background-color: #373737;
  border-color: #373737;
}
